body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: 0.3s;
  background-color: #f7f7f7
}

section{
  display: flex;
  flex-flow: column wrap;
}

button, section span{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(92, 92, 92);
  padding: 1.5rem;
}

section span{
  background-color: rgb(178, 41, 196);
  color: rgb(230, 230, 230);
  cursor: default;
}

section span::selection{
  background-color: rgb(230, 230, 230);
  color: rgb(178, 41, 196);


}

button{
  background-color: #f1f1f1;
  outline: 0;
  border: 1px solid rgb(178, 41, 196);
  cursor: pointer;

}